.container-movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 10px;
}

@media (max-width: 900px) {
    .container-movies{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        margin: 10px;
    
    }
}


@media (max-width: 400px) {
    .container-movies{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin: 10px;
    
    }
}